@page
@model ChalkboardMessenger.UI.Pages.Account.LoginModel
@if (HttpContext.User.Identity.Name != null)
{
    ViewData["CurrentUser"] = HttpContext.User.Identity.Name;
}
else
{
    ViewData["CurrentUser"] = string.Empty;
}
@{
}

    <form method="post">
        <input type="text" asp-for="Username"/>
        <input type="password" asp-for="Password"/>
        <button>Login</button>

    </form>